* {
    margin: 0;
}

/* Banner Section Style Adding */
.header-container {
    display: flex;
    padding-top: 50px;
    align-items: center;
    justify-content: space-around;
    background: rgba(255, 144, 14, 0.1);

}

.logo {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.navigation {
    display: flex;
    font-family: 'Work Sans';
    gap: 30px;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    color: #424242;
}

nav ul li {
    text-decoration: none;
    list-style: none;

}

.navigation :hover {
    background-color: rgb(11, 146, 36);
}


.banner-container {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
    justify-content: space-around;
    background: rgba(255, 144, 14, 0.1);
    
}

.bar {
    width: 5px;
    height: 106px;
    background: #FF900E;
    margin-right: 40px;
}

.feature-title-container {
    display: flex;
}

.quick-list-gray {
    font-family: 'Work Sans';
    font-style: normal;
    color: #727272;
    font-weight: 500;
    font-size: 45px;
}

.features-orange {
    font-family: 'Work Sans';
    font-style: normal;
    color: #FF900E;
}

.team-section {
    display: flex;
    font-weight: 700;
    font-size: 45px;
}

.features-section {
    display: flex;

    justify-content: space-around;
    margin-top: 130px;


}

.feature-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 586px;
    height: 171px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top: 20px;
    padding: 30px;
}

.uni-title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 25px;
}

.team-title {
    margin-bottom: 25px;
}

.brand-description {
    margin-top: 25px;
}

.feature-info {
    width: 586px;
    height: 982px;



}

.feature-description {
    margin-bottom: 30px;
    margin-top: 25px;

}

.feature-display {
    position: relative;
    width: 800px;
    height: 1059px;
}

/* overlay experience */


.overlay {
    position: absolute;

    bottom: 50px;

    left: 0;

    width: 342px;
    height: 200px;
}

.ten-plus {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
}

.experience {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
    color: #FFFFFF;
}

.fact-info-section {
    margin-top: 250px;
    width: 586px;
    height: 171px;
    margin-left: 120px;

}

.fact-container {
    display: flex;
    justify-content: space-evenly;


}

.fact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    justify-content: center;


}

.fact-number {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    color: #424242;

}

.fact-title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

.sponsor-info-section {
    display: flex;
    flex-direction: column;
    margin-top: 120px;

    align-items: center;


}

.sponsor-container {
    display: flex;

    gap: 245px;
    margin-top: 50px;
}

.black-white {
    filter: grayscale(1);
}

.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF4E7;
    border-radius: 8px;
    width: 1440px;
    height: 100px;
    margin-left: 130px;
    margin-top: 130px;
    margin-bottom: 150px;

}

/* Styling for Tittle */
.banner-title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: #131313;

}

.banner {
    margin-top: 50px;
    margin-bottom: 45px;
    width: 1440px;
    height: 700px;
    border-radius: 8px;
}

.team-section {
    display: flex;
    justify-content: space-around;
    margin-top: 85px;
    align-items: center;


}

.team-gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    border-radius: 8px;


}

.contact-section {
    margin: auto;
    border: 1px solid green;
    padding: 30px;
    width: 537px;
    height: 450px;
    background: rgba(255, 144, 14, 0.1);
    border-radius: 8px;
    margin-top: 50px;



}

.team-feature {
    /* margin-left: 75px; */
    width: 537px;
    height: 304px;
}

body button {
    margin-top: 32px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    background: #FF900E;
    border-radius: 8px;
    padding: 20px 25px;
    color: #FFFFFF;
}

body p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1rem;
}

.form-group label {
    flex: 1 0 100px;
    margin-right: 1rem;
}

.form-group input,
.form-group textarea {
    flex: 1 1 auto;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}



